html, body {
	height: 100%;
	margin: 0;
    padding: 0;
}

div#map {
	height: 100%;
}

div#overlay {
	width: 100%;
	position: absolute;
	top: 10px;
	z-index: 9999;
	height: 50px;
	background-color: alpha;
}

div#modal {
	z-index: 10000;
}

div#modal .modal-header .title {
	font-weight: bold;
	font-size: 1.6em;
}